{
  "extends": ["eslint:recommended", "plugin:varspacing/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [
      2,
      { "varsIgnorePattern": "React" }
    ]
  },
  "plugins": ["varspacing"]
}
